<ActionBar class="action-bar">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <GridLayout columns="auto,*,auto" ios:padding="0 10" height="100%" width="100%">
        <ActionButton (tap)="navigateBack()" isArrow="true"></ActionButton>
        <Label col="1" text="{{ 'canteen.screenTitle' | translate}}" class="action-bar-label"></Label>
    </GridLayout>
</ActionBar>
<StackLayout *ngIf=canteen class="page page-content" tkMainContent>
    <TabView androidOffscreenTabLimit="0">
        <ng-container *ngFor="let menu of canteen">
            <FlexboxLayout flexDirection="column" class="grades-page" *tabItem="{title: reformTabTitel(menu.date)}">
                <ScrollView>
                    <StackLayout class="grades-page-container" padding="20">
                        <StackLayout *ngFor="let meal of menu.meals">
                            <Label text="{{meal.ctgry}}" class="grades-table-header"></Label>
                            <StackLayout class="hr"></StackLayout>
                            <StackLayout marginTop="5" height="{{calcHeight(meal.title)}}" *ngFor="let info of reformMenuContent(meal.title)">
                                <Label [text]="info" textWrap="true"></Label>
                            </StackLayout>
                            <GridLayout rows="10,*,10" columns="*,8*,*,8*,*">
                                <Label row="1" col="1" colspan="2" text="{{ 'canteen.student' | translate}}: {{meal.priceStud}} €"
                                    style="text-align: center; font-weight: bold; font-size: 15;"></Label>
                                <Label row="1" col="3" colspan="2" text="{{ 'canteen.employee' | translate}}: {{meal.priceEmpl}} €"
                                    style="text-align: center; font-weight: bold; font-size: 15;"></Label>
                            </GridLayout>
                            <Label text=""></Label>
                        </StackLayout>
                    </StackLayout>
                </ScrollView>
            </FlexboxLayout>
        </ng-container>
    </TabView>
</StackLayout>