<ActionBar class="action-bar">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <GridLayout columns="auto,*,auto" ios:padding="0 10" height="100%" width="100%">
        <ActionButton (tap)="navigateBack()" isArrow="true"></ActionButton>
        <Label col="1" text="{{ 'canteen.screenTitle' | translate}}" class="action-bar-label"></Label>
    </GridLayout>
</ActionBar>
<StackLayout *ngIf=canteen class="page page-content" tkMainContent>
    <TabView androidOffscreenTabLimit="0">
        <ng-container *ngFor="let menu of canteen">
            <FlexboxLayout flexDirection="column" class="grades-page" *tabItem="{title: reformTabTitel(menu.date)}">
                <ScrollView>
                    <StackLayout class="grades-page-container" padding="20">
                        <StackLayout *ngFor="let meal of menu.meals">
                            <Label text="{{meal.ctgry}}" class="meal-category"></Label>
                            <StackLayout class="hr" marginBottom="3"></StackLayout>
                            <StackLayout height="{{calcHeight(meal.title)}}" *ngFor="let info of reformMenuContent(meal.title)">
                                <Label [text]="info" textWrap="true"></Label>
                            </StackLayout>
                            <StackLayout *ngIf="!isClosed(meal.title)" marginBottom="10" marginTop="1">
                                <Label text="{{ 'canteen.student' | translate}}: {{meal.priceStud}} €" style="font-weight: bold"></Label>
                                <Label marginTop="2" text="{{ 'canteen.employee' | translate}}: {{meal.priceEmpl}} €"
                                    style="font-weight: bold"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                </ScrollView>
            </FlexboxLayout>
        </ng-container>
    </TabView>
</StackLayout>