<ActionBar title="HTWGapp" class="action-bar">
    <ActionItem (tap)="onDrawerButtonTap()" ios.systemIcon="4" android.systemIcon="ic_menu_btn_add" ios.position="left"></ActionItem>
</ActionBar>
    
<GridLayout class="page page-content" tkMainContent>
    <Label class="page-icon fa" text="&#xf015;"></Label>
    <Label class="page-placeholder" text=" Page content goes here "></Label>
    <Image class="bottom" backgroundImage="~/images/htwg.jpg" loadMode="async"></Image>
    <Image class="top" backgroundImage="~/images/htwg2.jpg" loadMode="async"></Image>
</GridLayout>