<ActionBar class="action-bar">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <GridLayout columns="auto,*,auto" ios:padding="0 10" height="100%" width="100%">
        <ActionButton (tap)="onDrawerButtonTap()" #actionButton ></ActionButton>
        <Label col="1" text="HTWGapp" class="action-bar-label"></Label>
    </GridLayout>
</ActionBar>

<GridLayout class="page page-content" tkMainContent>

    <Image class="bottom" backgroundImage="~/images/htwg.jpg" loadMode="async"></Image>
    <Image class="top" backgroundImage="~/images/htwg2.jpg" loadMode="async"></Image>

    <RadListView [items]="components" marginRight="-2" itemReorder="true"
        (itemLoading)="onItemLoading($event)" (itemTap)="onNavigationItemTap($event)">
        <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical"
            spanCount="2"></ListViewStaggeredLayout>
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout margin="15" borderRadius="10" backgroundColor="lightblue">
                <Image src="{{ item.imageSrc }}" class="cardImage"></Image>
                <StackLayout backgroundColor="white" padding="10">
                    <Label text="{{ item.name }}" class="item-name" textWrap="true"></Label>
                    <Label text="{{ item.desc }}" class="item-desc" textWrap="true"></Label>
                </StackLayout>
            </StackLayout>
        </ng-template>
    </RadListView>
</GridLayout>
