/* Add mobile styles for the component here.  */
.main-layout {
	width: 32;
	height: 32;
	padding: 4 2;
}

.line {
    height: 3;
    background-color: #009b91;
	margin: 2 1;
	border-radius: 1;
}