<ActionBar class="action-bar">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <GridLayout columns="auto,*,auto" ios:padding="0 10" height="100%" width="100%">
        <ActionButton (tap)="navigateBack()" isArrow="true"></ActionButton>
        <Label col="1" text="Grades" class="action-bar-label"></Label>
    </GridLayout>
</ActionBar>
<GridLayout colums="100%" rows="*,40" class="page page-content" tkMainContent>
    <Pager row="0"
    [items]="currentGrades" 
    #pager 
    [selectedIndex]="currentPagerIndex" 
    (selectedIndexChange)="onIndexChanged($event)" 
    class="pager"
    cache="false"
    >
        <ng-template let-i="index" let-item="item" width="100%">
            <GridLayout rows="30,auto,70" width="100%">
                <Label row="0" textAlignment="center" verticalAlignment="center" text="Semester: {{item.semesterIdentifier}}" class="h2 pt-2 pb-1" style="font-size: 20;"></Label>
                <AbsoluteLayout row="1">
                    <Label class="grades-table-header" left="10" top="0" height="20" width="290" text="Course"></Label>
                    <Label class="grades-table-header" left="300" top="0" height="20" width="60" text="Mark"></Label>
                    <Label class="grades-table-header" left="360" top="0" height="20" width="50" text="ECTS"></Label>
                </AbsoluteLayout>
                <AbsoluteLayout row="2" *ngFor="let performance of item.semesterPerformance; index as i">
                    <!-- <Label text="{{performance.course}}" col="0" textWrap="true"></Label> -->
                    <Label left="10" top="{{getHeight(i)}}" height="20" width="290" text="{{performance.name}}"></Label>
                    <Label left="300" top="{{getHeight(i)}}" height="20" width="60" text="{{performance.grade}}" style="text-align: center;"></Label>
                    <Label left="360" top="{{getHeight(i)}}" height="20" width="50" text="{{performance.ects}}" style="text-align: center;"></Label>
                    <!-- <Label text="Passed: {{performance.passed}}"textWrap="true"></Label>
                    <Label text="Bachelor: {{performance.bachelor}}"textWrap="true"></Label>
                    <Label text="Master: {{performance.master}}"textWrap="true"></Label> -->
                </AbsoluteLayout>
            </GridLayout>
        </ng-template>
    </Pager>
    <DockLayout row="1" orientation="horizontal" stretchLastChild="true" class="bg-primary">
            <Button class="page-button-grey" dock="left" text="Prev" (tap)="onLeft()"></Button>
            <Button class="page-button-grey" dock="right" text="Next" (tap)="onRight()"></Button>
    </DockLayout>
    
</GridLayout>