<ActionBar class="action-bar">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <GridLayout columns="auto,*,auto" ios:padding="0 10" height="100%" width="100%">
        <ActionButton (tap)="navigateBack()" isArrow="true"></ActionButton>
        <Label col="1" text="Endlicht" class="action-bar-label"></Label>
    </GridLayout>
</ActionBar>

<!--<StackLayout class="page page-content" tkMainContent>
    <Label text="todo"></Label>
</StackLayout>-->
<ScrollView class="page page-content" heigth="100%" tkMainContent>
    <StackLayout>
        <Label text="Opening Hours" class="event-header" textWrap="true" height="60"></Label>
        <StackLayout orientation="horizontal" *ngFor="let item of endlicht.openingHours">
            <Label text={{reformTabTitel(item.date)}} class="event-body" width="50%" style="text-align: left;"></Label>
            <Label text="{{item.startTime}} - {{item.endTime}}" class="event-body" textWrap="true"></Label>
        </StackLayout>
        <Label text="Beverages" class="event-header" textWrap="true" height="60"></Label>
        <StackLayout orientation="horizontal" *ngFor="let item of endlicht.beverages">
            <Label text={{item.name}} class="event-body" style="text-align: left;" width="50%" text-align="left"></Label>
            <Label text="{{item.price}} €" class="event-body" textWrap="true" ></Label>
        </StackLayout>
        <StackLayout orientation="horizontal" *ngFor="let item of endlicht.specials">
            <Label text="{{item.name}} (special)" class="event-body" style="text-align: left;" width="50%" text-align="left"></Label>
            <Label text="{{item.price}} €" class="event-body" textWrap="true" ></Label>
        </StackLayout>
    </StackLayout>
</ScrollView>