<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="50, *,50" columns="*2,0" class="sidedrawer sidedrawer-left">
        <StackLayout row="0" colum="1" class="sidedrawer-header">
            <Label class="fa" text="&#xf00d;" (ontap)="closeDrawer()"></Label>
        </StackLayout>

        <ScrollView row="1">
            <StackLayout class="sidedrawer-content">

                <GridLayout columns="auto, *" class="sidedrawer-list-item">
                    <Label col="1" text="{{ 'nav.language' | translate }}" class="nav-name" (tap)=selectLanguage()></Label>
                </GridLayout>

                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [nsRouterLink]="['/about']" (tap)="closeDrawer()">
                    <Label col="1" text="{{ 'nav.about' | translate}}" class="nav-name"></Label>
                </GridLayout>

                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [nsRouterLink]="['/login']" (tap)="logout()">
                    <Label col="1" text="{{ 'nav.logout' | translate}}" class="nav-name"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
        <StackLayout row="2" class="sidedrawer-header">
            <Label class="sidedrawer-footer" text="Powered by AStA"></Label>
        </StackLayout>
    </GridLayout>
    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>