// You can add custom settings here
// for example you can uncomment the following line to force distribution code signing
CODE_SIGN_IDENTITY = iPhone Distribution
// To build for device with XCode 8 you need to specify your development team.
DEVELOPMENT_TEAM = HKNKD4H357;
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon;
ASSETCATALOG_COMPILER_LAUNCHIMAGE_NAME = LaunchImage;
PROVISIONING_PROFILE = d1e4b0d9-5f15-45a0-bdb2-ef9261d51db9
