@import '~nativescript-theme-core/css/core.dark.css';
@import 'default-style.css';

.hr {
    background-color:#303030;
}
.page-content .page-placeholder {
    color: #334152;
}
.page-content .page-icon {
    color: #334152;
}
.page {
    background-color: rgb(49, 49, 49);
    color: white;
}

.sidedrawer-list-item-icon,.sidedrawer-list-item{
    color: #334152;
}
.sidedrawer.sidedrawer-left {
    background-color: #009b91;
}
.sidedrawer.sidedrawer-left .footnote {
    color: #334152;
}
.sidedrawer .sidedrawer-header {
    background-color: #009b91;
}
.sidedrawer .sidedrawer-header .sidedrawer-header-brand {
    color: #fff;
}
.sidedrawer .sidedrawer-content{ 
    background-color: #334152;
}

.sidedrawer .sidedrawer-content .sidedrawer-list-item Label {
    color: white;
}

.sidedrawer .sidedrawer-content .sidedrawer-list-item.selected {
    background-color: #334152;
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item.selected Label {
    color:#3A53FF;
}
.action-bar-label {
    color: #fff;
}
.action-bar {
    background-color: #334152;
    border-color: transparent;    
    color: #fff;
}
ListPicker {
    border-color: white;
    color: white;
}
.page-header-green {
    color: #009b91;
}
.page-button-grey {
    background-color: #009b91;
    color: #fff;
}
.card-tile {
    background-color: #334152;
}
.meal-category {
    background-color:#334152; 
    color: #fff;
}
.grades-table-header {
    background-color:#334152; 
    color: #fff;
}
.schedule-table-header {
    background-color:#009b91;
    color: #fff;
}
.schedule-day-header {
    background-color: #334152;
    color: #fff;
}
.schedule-collapse-symbol {
    color: #009b91;
}