.hr {
    height:1;
    width:100%;
}
.far {
    font-family: "Swiss721" "Swiss721_normal";
    font-weight: 400;
}
.fas {
    font-family: "Swiss721" "Swiss721_bold";
}
.ico {
    font-family: "FontAwesome";
}
.page-content .page-placeholder {
    font-size: 20;
    vertical-align: center;
    horizontal-align: center;
}
.page-content .page-icon {
    font-size: 72;
    vertical-align: top;
    horizontal-align: center;
    margin-top: 20%;
}

.sidedrawer {
    margin-bottom: -100;
}
.sidedrawer-list-item-icon,.sidedrawer-list-item{}
.sidedrawer.sidedrawer-left {}
.sidedrawer.sidedrawer-left .footnote {}
.sidedrawer .sidedrawer-header {
    height: 50;
}
.sidedrawer .sidedrawer-header .sidedrawer-header-brand {
    font-size: 23;
    text-align: left;
    vertical-align: center;
    padding-top: 10;
    padding-left: 10;
}
.sidedrawer .sidedrawer-content{}
.sidedrawer .sidedrawer-content .sidedrawer-list-item{
    padding-left: 15;
    margin-top: 15;
    margin-bottom: 15;
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item Label {
    vertical-align: center;
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item .fa {
    width: 20;
    margin-right: 10;
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item.selected {
}
.sidedrawer .sidedrawer-content .sidedrawer-list-item.selected Label {
}
.activityBar {
    width: 50;
    height: 50;
}
:disabled {
    opacity: 0.5;
}
.errormessage {
    color: red;
}
.action-bar-label {
    font-size: 20;
    horizontal-align: center;
    vertical-align: center;
}
.action-bar {
    border-color: transparent;    
}
.page-header-green {
    padding-top: 2;
    padding-bottom: 2;
    font-size: 20;
    horizontal-align: center;
    vertical-align: center;
}
.page-button-grey {
}
.card-tile {
}
.meal-category {
    text-align: center;
    font-size: 20;
}
.grades-table-header {
    text-align: center;
    font-size: 16;
}