<ActionBar class="action-bar">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <GridLayout columns="auto,*,auto" ios:padding="0 10" height="100%" width="100%">
        <ActionButton (tap)="navigateBack()" isArrow="true"></ActionButton>
        <Label col="1" text="{{ 'events.screenTitle' | translate}}" class="action-bar-label"></Label>
    </GridLayout>
</ActionBar>
<ScrollView *ngIf=semesterEvents class="page page-content" heigth="100%" tkMainContent>
    <StackLayout style="background-color: white; margin:10; padding-left: 20; padding-right: 20;" class="event-page">
        <GridLayout rows="2*,*" columns="*" *ngFor="let item of semesterEvents">
            <Label row="0" text="{{item.title}}" class="event-header" textWrap="true"></Label>
            <Label row="1" text="{{item.eventDate}}" class="event-body" textWrap="true"></Label>
        </GridLayout>
    </StackLayout>
</ScrollView>